body{
    background-color: rgba(0,0,0,0.23);
}

#content{
    width: 50vh;
    height: 50vh;
    background-color:rgba(0,0,0,0.7);

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;

    box-shadow: 30px 50px 50px #888888;
    border-radius: 25px;
}

#login-content, #signup-content{
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#signup-content{
    display: none;
}

.input-box{
    background-color: #656565;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.23) inset;

}

table{
    width: 50%;
}

.login-btn, .signup-btn{
    position: relative;
    width: 75%;
    height: 50px;
    background-color: #888888;
    border-radius: 3px;
    border-width: 0;
    margin-top: 40px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.23) inset;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: large;
    color: #cecece;
}

.login-btn{
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.signup-btn{
    left: 50%; top: -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-btn:hover, .signup-btn:hover{
    background-color: #636363;
    font-size: large;

}

.txt-field{
    width: 6cm;
    border-radius: 3px;
    border-width: 0;
    background-color: #cecece;
    height: 1cm;
    line-height: 0.8cm;
    font-family: Arial, sans-serif;
    font-size: medium;
}

.icon-wrapper{
    margin-right: -8px;
    background-color: #cecece;
    height: 1cm;
    width: 1cm;
    border-radius: 3px;
}

.fas{
    position: relative;
    left: 50%; top: 50%; /*move the object to the center of the parent object*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#bar{
    background-color: #161616;
    width: 100%;
    height: 1cm;
}

.bar-button{
    background-color: rgba(99,99,99,0);
    font-family: "Arial Rounded MT Bold";
    font-size: large;
    width: 49%;
    border-width: 0;
    color: #cecece;
    text-align: center;
    height: 1cm;
}

.bar-button:hover{
    color: #7d7d7d;
}

.sign-up-text{
    font-family: "Arial Rounded MT Bold";
    margin-right: 20px;
    width: available;
    text-align: center;
    font-size: medium;
    color: #cecece;
}

.error{
    position: absolute;
    text-align: center;
    color: rgba(190, 72, 0, 0.88);
    font-family: Arial, sans-serif;
}

#signup-error{
    margin-top: -10px;
    width: 75%;
    margin-left: 12%;
}